@import './variable';

.swimLine {
  min-height: 100px;
  background-color: $secondaryColor;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;

  .header {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .task-wrapper {
    background-color: white;
    padding: 10px 10px;

    margin-bottom: 10px;
  }
}
