@import './variable';
.task-wrapper {
  background-color: white;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  .title {
    color: $darkColor;
  }

  .task-token-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .task-type-icon {
      width: 20px;
    }

    span {
      font-size: 0.8rem;
      font-weight: bold;
      color: $darkColor;
    }
  }
}
